// Colours
$bodyColour: #333333;
$headingColour: #004D40;
$linkColour: #FF7043;
$hoverColour: #FF5722;
$captionColour: #80CBC4;
$white: #fff;

$backgroundColour: #E6F8F5;
$codeBackgroundColour: #D7EBE8;
